@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
    font-family: 'Poppins' !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
    display: none;
}

a,button,i{
    cursor: pointer;
}

body {
    background: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    background: #000;
}

main {
    margin-top: 80px;
    margin-bottom: 40px;
    height: 100%;
    width: 100%;
    position: relative;
}


main .container {

    width: 100%;
    padding-top: 15px;
    margin-top: 25px;
    border-radius: 15px;
    border-top: 2px solid rgb(24, 24, 24);
    position: relative;
}

header img {
    width: 100px;
    height: 100%;
    object-fit: cover;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    animation: letterAppear 3s 1 steps(30);
    width: 100%;
    position: relative;
    margin: auto;
}

.title h1 {
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 20px;
}

@keyframes letterAppear {
    0% {
        width: 0;
        white-space: nowrap;
    }
}

h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 35px;
}

.text-center {
    text-align: center;
}

.new-user{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background: transparent;
    min-width: 40px !important;
}
.new-user:focus::placeholder{
    color: #000;
}
input[name="age"]{
    width: 40px;
}

.add-user .column6{
    padding-right: 40px;
}

.add-user table tbody tr:nth-child(3) td:nth-child(1):before {
    content: "" !important;
}

.close{
    background: #ff0000 !important;
    color: #fff;
    margin-left: 15px;
    display: none;
}
.center-td{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 0;
}

#close,#closeAdd,#closeRemove{
    position: absolute;
    padding: 10px 15px;
    border-radius: 50%;
    background: rgb(15, 15, 15);
    color: #ffffff;
    font-size: 22px;
    right: 40px;
    top: 200px;
    font-weight: 900;
}

#close{
    background: rgba(15, 15, 15, 0.342);
    color: #ff0000;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

#closeAdd,#closeRemove{
    right: 20px;
    top: 20px;
    background: rgba(15, 15, 15, 0);
    color: #ff0000;
}
#closeAdd:hover,#closeRemove:hover{
    background: rgba(15, 15, 15, 0.041);
    color: #ff0000;
}
#close:hover{
    background: #ff00001c;
}
#add,#remove{
    text-align: center;
}

#add input,#remove select{
    margin-top: 25px;
    width: 100%;
}
#add button,#remove button{
    margin-top: 25px;
    padding: 7px 14px;
    border: none;
    outline: none;
    background-color: #99ee19;
    border-radius: 4px;
}

#remove button{
    background-color: #ff0000;
    color: #fff;
}
#remove button:hover{
    background-color: #ff00001e;
    color: rgb(0, 0, 0);
    outline: 2px solid #ff0000;
}
#add button:hover{
    background-color: #99ee1946;
    outline: 2px solid #99ee19;
}
.new{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.new button{
    font-size: 18px;
}
.center-td button,.new button{
    padding: 8px 18px;
    border: none;
    outline: none;
    border-radius: 7px;
    background: #99ee19;
    font-weight: 500;
}
.center-td button:hover,.new button:hover{
    outline:2px solid #99ee19;
    background: none;
}
.new button:hover{
    color: #fff;
}

.container-table{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table{
    width: 90%;
    margin: auto;
}
.wrap-table2{
    width: 99%;
}

.add-user{
    padding: 33px 7px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px !important;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: #000000;
}

table tbody tr {
    height: 50px;
}

table tbody tr:last-child {
    border: 0;
}

table td,
table th {
    text-align: left;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}


.table100-head th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-size: 15px;
    color: #353535;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
}

.column1 {
    width: 260px;
    padding-left: 40px;
}

.column2 {
    width: 160px;
}

.column3 {
    width: 105px;
}

.column4 {
    width: 210px;
    text-align: left;
}

.column5 {
    width: 150px;
    text-align: left;
}

.column6 {
    width: 262px;
    text-align: left;
    padding-right: 62px;
}
.text-right{
    text-align: center;
    display: inline-block;
    width: 90%;
    color: #ff0000;
    padding-left: 15px;
}

.entregas{
    width: 50%; 
    position: absolute;
    top: 50%;
    right: 65px;
    transform: translateY(-50%);
    z-index: 700;
    transition: opacity 1s;
}

.entregas button{
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 7px;
    initial-value:none;
}
.entregas button i{
    font-size: 20px;
}
i{
    font-family: "Font Awesome 6 Free" !important;
}

.entregas button:hover{
    outline: 2px solid #000;
    background: transparent;
    color: #000;
}

.entregas .cal{
    opacity: 0;
    position: absolute;
    background: #000;
    color: #fff;
    width: 100%;
    text-align: left;
    border-radius: 7px;
    margin-top: 7px;
    padding: 4px;
}
.entregas .cal p{
    font-size: 14px;
    font-weight: normal;
    padding: 2px;
}

.delete{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    padding: 0px 7px;
    color: rgb(255, 0, 0);
    border-radius: 15px;
}
.invalid{
    border-bottom: 2px solid #ff0000a8;
    animation: invalid .2s ease 2 alternate;
}

@keyframes invalid {
    0%{
        transform: translateX(10px);
    }50%{
        transform: translateX(-10px);
    }100%{
        transform: translateX(0);
    }
}

.alert-container,.add-user{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 9999;
    background: #00000086;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}


.show{
    opacity: 1;
    pointer-events: all;
    transition: opacity .6s;
    --transform: translateY(0) !important;
    --transition: transform .8s .8s !important;
}
.alert{
    width: 400px;
    height: 400px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: var(--transform);
    transition:var(--transition);
    position: relative;
}

.alert div{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    position: relative;
}

.alert div button{
    padding: 14px 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #fff;
    transition: background .5s, color .5s;
    font-size: 18px;
    font-weight: 500;
}

.alert div button:nth-child(1){
    background: #99ee19;
    color: rgb(255, 255, 255);
}
.alert div button:nth-child(1):hover{
    background: none;
    color: #000;
    outline: 2px solid greenyellow;
}
.alert div button:nth-child(2){
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    max-width: 75.63px;
}
.alert div button:nth-child(2):hover{
    background: rgba(255, 0, 0, 0);
    color: rgb(0, 0, 0);
    outline:2px solid #ff0000;
}
.img-alert{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 65px;
    object-fit: cover;
    border-radius: 15px;
}
.add{
    position: absolute;
    right: 115px;
    background: #99ee19;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    padding: 5px;
}

.deleteTask{
    position: absolute;
    right: 55px;
    background: #ff0000;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    padding: 5px;
}

.alert p{
    text-align: center;
    font-size: 20px;
}
.op{
    opacity: 1 !important;
}

@media screen and (max-width:1324px) {
    .add{
        right: 75px;
    }
    
    .deleteTask{
        right: 25px;
    }
}
@media screen and (max-width:1150px) {
    .add{
        right: 65px;
    }
    
    .deleteTask{
        right: 15px;
    }
}
@media screen and (max-width:1060px) {
    .add{
        right: 40px;
    }
    
    .deleteTask{
        right: 5px;
    }
}

@media screen and (max-width: 992px) {
    .close{
        display: block;
        border: none;
    }

    .close:hover{
        background: transparent !important;
        color: #000;
        outline: 2px solid #ff0000 !important;
    }
    .center-td{
        width: max-content;
        left: 30%;
        top: 50%;
        transform: translate(-50%,-50%);
        justify-content: flex-start;
    }
    .add{
        right: 40%;
    }
    
    .deleteTask{
        right: 30%;
    }
    .entregas{
        width: 25%; 
        right: 30%;
    }
    .delete{
        right: 20%;
    }
    table {
        display: block;
    }

    table>*,
    table tr,
    table td,
    table th {
        display: block;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        height: auto;
        padding: 37px 0;
    }

    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }

    table tbody tr td:last-child {
        margin-bottom: 0;
    }

    table tbody tr td:before {
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        z-index: 200;
        width: 40%;
        left: 30px;
        top: 0;
    }

    table tbody tr td:nth-child(1):before {
        content: "Nombre";
    }


    table tbody tr td:nth-child(2):before {
        content: "Apellido";
    }
    table tbody tr td:nth-child(3):before {
        content: "Edad";
    }

    table tbody tr td:nth-child(4):before {
        content: "Email";
    }
    table tbody tr td:nth-child(5):before {
        content: "Direccion";
    }
    table tbody tr td:nth-child(6):before {
        content: "Tareas";
    }



    .column4,
    .column5,
    .column6 {
        text-align: left;
    }

    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
        width: 100%;
    }

    tbody tr {
        font-size: 14px;
    }
}

@media screen and (max-width:783px) {
    h1 {
        font-size: 4vw;
    }

    .list {
        padding-left: 40px;
    }
}

@media screen and (max-width:640px){
    .entregas{
        width: 30%; 
        right: 23%;
    }
    .delete{
        right: 10%;
    }
}
@media (max-width: 576px) {
    .add{
        right: 30%;
    }
    
    .deleteTask{
        right: 10%;
    }
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width:460px){
    .entregas{
        width: 45%; 
        right: 18%;
    }
    .delete{
        right: 2%;
    }
    .add{
        right: 45px;
    }
    
    .deleteTask{
        right: 5px;
    }
}

@media screen and (max-width:380px) {
    .title{
        animation: none;
        white-space:initial;
    }

    .title h1{
        text-align: center;
        font-size: 22px;
    }
    .alert{
        width: 400px;
        height: 300px;
    }
}
@media screen and (max-width:350px){
    .center{
        text-align: center;
    }

    .container-table{
        padding: 33px 5px;
    }
}